<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">家庭医生</span>
      </div>
      <div class="desc">普及健康知识、参与健康行动、提供健康保障、延长健康寿命</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2018
      <a href="http://www.winning.com.cn" target="_blank">卫宁健康</a>出品
    </global-footer>
  </div>
</div>
